<div class="container-form">
  <form [formGroup]="formDvd" (ngSubmit)="save()">
    <mat-form-field style="width: 500px">
      <input matInput placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Year" type="number" formControlName="year" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Genre" formControlName="genre" />
    </mat-form-field>

    <div>
      <button mat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>

<button mat-fab color="primary" class="add-button" (click)="goBack()">
  <mat-icon>keyboard_backspace</mat-icon>
</button>
